{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "optimizer": {
        "simplify": true,
        "deadCodeElimination": true
      }
    },
    "target": "es2022"
    "baseUrl": "./"
  },
  "sourceMaps": true,
  "minify": true
}
